/* .container-fluid {
    display: flex;
    height: calc(100vh - 56px); /* Assuming there's a 56px header 
    width: 100%;
  } */
  
  /* .map-container {
    flex: 2; /* This makes it take up 2/3 of the space 
    height: 100%;
  }
  
  .leaflet-container {
    width: 100% !important;
    height: 100% !important;
  }
  
  .outlet-list-container {
    flex: 1; /* This makes it take up 1/3 of the space 
    height: 100%;
    overflow-y: auto;
    padding: 15px;
    box-sizing: border-box;
  } */